@media screen and (min-width: 1920px) {
  .layout-content {
    //margin: 0 auto 0 var(--sidebar-width);
  }
}

@media screen and (max-width: 1199px) {

  .layout-sidebar {
    top: 0;
    inset-inline-start: 0;
    position: fixed;
    z-index: 1102;
    height: 100%;
    transform: translateX(-100%);
    background-color: var(--mobile-menu-background);
    backdrop-filter: blur(20px);
    width: 300px;
    opacity: 0;

    &:dir(rtl) {
      transform: translateX(100%);
    }

    nav {
      padding: 1rem 1rem;
    }

    &.active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .layout-mask {
    background-color: rgba(0, 0, 0, 0.1);

    &.layout-mask-active {
      z-index: 1101;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transition: background-color .5s;
    }
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .layout-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .blocked-scroll {
    overflow: hidden;
    padding-right: var(--p-scrollbar-width);
  }
}

@media (max-width: 768px) {
}

@media screen and (max-width: 575px) {

  .layout-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
