<div class="card flex flex-col h-full">
  <div class="page-title">
    <div class="page-title-left">
      <span class="text-primary-800 font-semibold text-xl">{{
        'resident.subTitle.list' | translate
      }}</span>
    </div>
    <div class="page-title-right">
      <p-button
        (click)="visibleDrawer = !visibleDrawer"
        variant="outlined"
        severity="primary"
        label="{{ 'button.search' | translate }}"
        iconPos="right"
        icon="text-xl pi pi-search"
      ></p-button>
      <p-button (click)="reloadData()" variant="outlined" icon="pi pi-refresh"></p-button>
      <!--      <p-button *ngIf="canAccess(Constants.Action_Create)" variant="outlined" severity="secondary"-->
      <!--                label="{{ 'button.create' | translate }}" iconPos="right"-->
      <!--                icon="text-xl pi pi-plus"-->
      <!--                (click)="visibleDrawerCreate = true"-->
      <!--      ></p-button>-->
    </div>
  </div>
  <div class="flex-1 overflow-hidden">
    <p-table
      scrollHeight="flex"
      [value]="dataTable.content"
      [scrollable]="true"
      dataKey="code"
      [(contextMenuSelection)]="selectedItem"
      [contextMenu]="cm"
    >
      <ng-template #header>
        <tr>
          <th style="min-width: 15rem">{{ 'resident.label.fullName' | translate }}</th>
          <th style="min-width: 15rem" class="!text-center">
            {{ 'resident.label.gender' | translate }}
          </th>
          <th style="min-width: 15rem">{{ 'resident.label.birthDate' | translate }}</th>
          <th style="min-width: 15rem">{{ 'resident.label.phoneNumber' | translate }}</th>
          <th style="min-width: 10rem">{{ 'resident.label.apartmentNumber' | translate }}</th>
          <th style="min-width: 10rem">{{ 'resident.label.building' | translate }}</th>
          <th style="min-width: 10rem">{{ 'resident.label.floor' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        @if (!dataTable.loading) {
          <tr [pContextMenuRow]="item" (dblclick)="viewDetail(item.id)">
            <td>{{ item.fullName }}</td>
            <td class="!text-center">
              @switch (item.genderCode) {
                @case ('M') {
                  <i class="icon-male-primary-xl"></i>
                }
                @default {
                  <i class="icon-female-danger-xl"></i>
                }
              }
            </td>
            <td>{{ item?.birthDate | date: 'dd/MM/yyyy' }}</td>
            <td>
              <a
                class="text-link"
                target="_blank"
                rel="noopener noreferrer"
                [href]="'https://zalo.me/' + item?.phoneNumber"
                >{{ item?.phoneNumber }}
              </a>
            </td>
            <td>
              {{ item?.apartmentNumber }}
            </td>
            <td>{{ item?.buildingBlock }}</td>
            <td>{{ item?.floor }}</td>
          </tr>
        } @else {
          <tr>
            <td>
              <p-skeleton />
            </td>
            <td>
              <p-skeleton />
            </td>
            <td>
              <p-skeleton />
            </td>
            <td>
              <p-skeleton />
            </td>
            <td>
              <p-skeleton />
            </td>
            <td>
              <p-skeleton />
            </td>
            <td>
              <p-skeleton />
            </td>
          </tr>
        }
      </ng-template>
    </p-table>
  </div>

  <p-paginator
    styleClass="!justify-end"
    (onPageChange)="onPageChange($event)"
    [first]="dataTable.first"
    [rows]="dataTable.size"
    [totalRecords]="dataTable.totalElements"
    [rowsPerPageOptions]="[10, 20, 30]"
  />
  <p-contextMenu #cm [model]="items" appendTo="body">
    <ng-template #item let-item>
      <a pRipple class="flex items-center p-contextmenu-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label | translate }}</span>
      </a>
    </ng-template>
  </p-contextMenu>
</div>

<p-drawer
  [(visible)]="visibleDrawer"
  header="{{ 'apartment.subTitle.search' | translate }}"
  styleClass="w-34-5-rem"
  position="right"
>
  <div [formGroup]="formSearch">
    <m-text
      class="mb-6 block"
      label="{{ 'resident.label.fullName' | translate }}"
      formControlName="fullName"
    ></m-text>
    <m-text
      class="mb-6 block"
      label="{{ 'resident.label.phoneNumber' | translate }}"
      formControlName="phoneNumber"
    ></m-text>
    <m-text
      class="mb-6 block"
      label="{{ 'resident.label.apartmentNumber' | translate }}"
      formControlName="apartmentNumber"
    ></m-text>
    <m-text
      class="mb-6 block"
      label="{{ 'resident.label.floor' | translate }}"
      formControlName="floor"
    ></m-text>
  </div>
  <div class="flex justify-end">
    <p-button
      [disabled]="dataTable.loading"
      variant="outlined"
      label="{{ 'button.search' | translate }}"
      icon="text-xl pi pi-search"
      iconPos="right"
      (click)="search(true)"
    ></p-button>
  </div>
</p-drawer>
<!--<p-drawer [(visible)]="visibleDrawerCreate" header="{{ 'apartment.subTitle.create' | translate }}"-->
<!--          styleClass="w-34-5-rem"-->
<!--          position="right">-->
<!--  <resident-form #formCreate></resident-form>-->
<!--  <ng-template #footer>-->
<!--    <p-button [disabled]="formCreate.loading" variant="outlined" label="{{ 'button.save' | translate }}"-->
<!--              icon="text-xl pi pi-check" iconPos="right"-->
<!--              (click)="formCreate.onSave()"></p-button>-->
<!--  </ng-template>-->
<!--</p-drawer>-->
