<!--<div class="mb-6 font-semibold text-primary">{{ 'breadcrumb.employeeInfo' | translate }}</div>-->
<!--<div [formGroup]="form" class="flex flex-col gap-6">-->
<!--  <m-text class="block" label="{{ 'employee.label.code' | translate }}" formControlName="code"></m-text>-->
<!--  <m-text class="block" label="{{ 'employee.label.name' | translate }}" formControlName="fullName"></m-text>-->
<!--  <m-select class="block" label="{{'employee.label.gender' | translate }}" formControlName="gender"-->
<!--            [options]="genderOptions.data" [loading]="genderOptions.loading"></m-select>-->
<!--  <m-datepicker class="block" label="{{ 'employee.label.birthDate' | translate }}"-->
<!--                formControlName="birthDate"></m-datepicker>-->
<!--  <m-select class="block" label="{{'employee.label.identifyType' | translate }}" formControlName="identifyType"-->
<!--            [options]="identifyTypeOptions.data" [loading]="identifyTypeOptions.loading"></m-select>-->
<!--  <m-text class="block" label="{{ 'employee.label.identifyNumber' | translate }}"-->
<!--          formControlName="identifyNumber"></m-text>-->
<!--  <m-datepicker class="block" label="{{ 'employee.label.identifyIssueDate' | translate }}"-->
<!--                formControlName="identifyIssueDate"></m-datepicker>-->
<!--  <m-text class="block" label="{{ 'employee.label.identifyIssuePlace' | translate }}"-->
<!--          formControlName="identifyIssuePlace"></m-text>-->
<!--</div>-->
